body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f0f8ff;
}

h1,h2 {
    margin: 0;
}

h1 {
    padding: 5px;
    background-color: #000;
    color: #fff;
}

h2 {
    padding: 10px 0;
    color:cornflowerblue;
}

#test {
    padding: 0 10px;
}

textarea, input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #000;
}

textarea {
    height: 50px;
    padding: 10px;
}

textarea + textarea {
    margin-top: 5px;
}

input {
    height: 25px;
    padding: 15px 10px;
}

p {
    margin: 0;
    color: grey;
}
