body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f0f8ff;
}

h1,h2 {
    margin: 0;
}

h1 {
    padding: 5px;
    background-color: #000;
    color: #fff;
}

h2 {
    padding: 10px 0;
    color:cornflowerblue;
}

#test {
    padding: 0 10px;
}

textarea {
    display: block;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

textarea + textarea {
    margin-top: 5px;
}
